version: "3"
services:
  web:
    image: nginx:latest
    networks:
      - frontend
      - backend
    ports:
      - "8089:80"
    volumes:
      - ./dist/blog:/usr/share/nginx/html:ro
      - ./data/conf/nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - php-fpm
      - angular
  php-fpm:
    image: php:7-fpm
    working_dir: /var/www
    command: php -S 0.0.0.0:90 index.php
    environment:
      docker: "true"
    networks:
      - backend
    ports:
      - "8090:90"
    volumes:
      - .:/var/www
    links:
      - composer
  composer:
    image: composer
    command: composer install
    volumes:
      - .:/app
  angular:
    build: .
    command: ng build
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "8091:4200"
    networks:
      - frontend
  mysql:
    image: mariadb:10.2
    networks:
      - backend
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"

volumes: 
  logs:
    driver: local

networks:
  frontend:
    driver: bridge         
  backend:
    driver: bridge