@import 'sass-breakpoints/index';

.blog-sidebar {
  line-height: 1.4em;
  background: var(--back-color);
  color: var(--light-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  background: white;
  color: var(--back-color);

  @include breakpoint('md') {
    flex-direction: column;
  }
}
.header-tabs {
  display: flex;
  flex-direction: row;
  .header-tab {
    background: var(--white-color);
    border-top: 3px solid transparent;
    border-radius: 0;
    line-height: 2em;
    height: 2em;
    text-transform: uppercase;
    color: var(--back-color);
    padding: 0 .5em;
    &:hover,
    &.active-tab {
      border-top-color: var(--blue-color);
    }
    &:focus {
      border-top-color: var(--purp-color);
    }
    &:link {
      text-decoration: none;
      color: var(--grey-color);
    }
  }
}
.sidebar-container {
  display: flex;
  padding: 15px 8%;
}
.sidebar-button:not(:nth-last-of-type()) {
  flex: 0 0 auto;
  margin-right: 0.5em;
}
.sidebar-button {
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
  }

  display: block;
  text-align: center;
  border-radius: 3px;
  background: var(--dark-color);

  &.center-bar {
    width: auto;
    padding: 0 .5em;
    background: var(--dark-color);
  }
  a {
    flex: 1 1 auto;
    align-self: center;
    text-decoration: none;
  }
}
