@import 'sass-breakpoints/index';

.main-container {
  min-height: 100vh;
}

.footer-container {
  background: var(--grey-color);
  color: var(--back-color);
  .footer-main {
    padding: 3em 0;
    margin-top: 2em;
  }
}
